################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/FoodWala/.vs/FoodWala
/src/FoodWala/BuildingBlocks/obj
/src/FoodWala/BuildingBlocks.Messaging/obj
/src/FoodWala/YarpApiGateway/obj
